*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.container{
    margin: 5vh auto 0 auto;
    width: 720px;   /* arbitrarily chosen */
    height: auto;
}

h2{
    text-align: center;
}

.main-list{
    width: 100%;
    height: 100px;
    padding: 30px 200px;
    background-color: #f44336;
}

.list-item{
    width: 100%;
    height: 50px;
    padding: 15px 30px;
}

.list-item:nth-child(odd){
    background-color: #ddd;
}

.list-item:nth-child(even){
    background-color: #eee;
}

.main-list-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-box{
    outline: none;
    font-size: 18px;
    padding: 5px;
}

.add-btn{
    float: left;
    padding: 10px 30px;
    background-color: #eee;
}

.add-btn:hover{
    cursor: pointer;
    transition: .5s;
    background-color: #ddd;
}